.row
  %button.col-md-4.text-primary.choise__one.col-xs-12{ "data-target": "#date-modal", "data-toggle": "modal", type: "button" }
    .col-md-4.choise__one__icon.col-xs-4
      .material-icons.icon_size
        access_time
    .col-md-8.choise__one__letter.col-xs-8
      .order_size
        Date
  = render 'modals/date-modal'
  %button.col-md-4.text-primary.choise__two.col-xs-12{ "data-target": "#theater-modal", "data-toggle": "modal", type: "button" }
    .col-md-4.choise__two__icon.col-xs-4
      .material-icons.icon_size
        theaters
    .col-md-8.choise__two__letter.col-xs-8
      .order_size
        Theater
  = render 'modals/theater-modal'
  %button.col-md-4.text-primary.choise__one.col-xs-12{ "data-target":  "#picture-modal", "data-toggle": "modal", type: "button" }
    .col-md-4.choise__one__icon.col-xs-4
      .material-icons.icon_size
        movie
    .col-md-8.choise__one__letter.col-xs-8
      .order_size
        Picture
  = render 'modals/picture-modal'
