.row
  .col-md-4.text-primary.choise__one.col-xs-12
    .choise__one__icon
      .mi.icon_size
        access_time
    .choise__one__letter
      .order_size
        Date
  .col-md-4.text-primary.choise__two.col-xs-12
    .choise__two__icon
      .mi.icon_size
        theaters
    .choise__two__letter
      .order_size
        Theater
  .col-md-4.text-primary.choise__one.col-xs-12
    .choise__one__icon
      .mi.icon_size
        movies
    .choise__one__letter
      .order_size
        Picture
