.row
  .col-md-4.text-primary.choise__one.col-xs-12
    .mi.icon_size
      access_time
    .order_size
      Choose date
  .col-md-4.text-primary.choise__two.col-xs-12
    .mi.icon_size
      theaters
    .order_size
      Choose theater
  .col-md-4.text-primary.choise__one.col-xs-12
    .mi.icon_size
      movies
    .order_size
      Choose picture
