%header.display-1
  sample_title

.container.choise
  .row
    .col-md-4.text-primary.choise__one.col-xs-12
      %h3 choose date
    .col-md-4.text-primary.choise__two.col-xs-12
      %h3 choose theater
    .col-md-4.text-primary.choise__one.col-xs-12
      %h3 choose picture
.container.result
  .col-sm-12
    .row.result__row
      .col-sm-1
      .col-sm-10.text-primary
        .list-group
          .list-group-item.result__one
            .row
              .col-sm-4.col-xs-12
                Theater_name
              .col-sm-6.col-xs-12
                Title_name
            .row
              .col-sm-2.col-xs-6
                screen_name
              .col-sm-2.col-xs-6
                minutes
              .col-sm-3.col-xs-6
                start_time
              .col-sm-3.col-xs-6
                end_time
          .list-group-item.result__one
            .row
              .col-sm-4.col-xs-12
                Theater_name
              .col-sm-6.col-xs-12
                Title_name
            .row
              .col-sm-2.col-xs-6
                screen_name
              .col-sm-2.col-xs-6
                minutes
              .col-sm-3.col-xs-6
                start_time
              .col-sm-3.col-xs-6
                end_time
          .list-group-item.result__one
            .row
              .col-sm-4.col-xs-12
                Theater_name
              .col-sm-6.col-xs-12
                Title_name
            .row
              .col-sm-2.col-xs-6
                screen_name
              .col-sm-2.col-xs-6
                minutes
              .col-sm-3.col-xs-6
                start_time
              .col-sm-3.col-xs-6
                end_time
      .col-sm-1

%footer
  about copylight
