%header.text-center
  sample_title

.container-fluid.no-padding#js-theaterIndex
  .choise
    = render 'choise'
  .result
    = render 'result'

%footer.text-center
  about copylight

-# = content_for(:javascript_pack_tag, javascript_pack_tag('schedules/index'))
