%header.display-1
  sample_title

.container.choise
  .row
    .col-sm-4.text-primary.choise__one.col-xs-12
      %h3 choose date
    .col-sm-4.text-primary.choise__two.col-xs-12
      %h3 choose theater
    .col-sm-4.text-primary.choise__one.col-xs-12
      %h3 choose picture
.container.result
  .col-sm-12
    .row.result__row
      .col-sm-1
      .col-sm-10.text-primary
        .list-group
          .list-group-item.result__one
            Theater_name
            Title_name
            screen_name
            minutes
            start_time
            end_time
          .list-group-item.result__one
            one movie
          .list-group-item.result__one
            one movie
          .list-group-item.result__one
            one movie
      .col-sm-1

%footer
  about copylight
