%header.text-center
  sample_title

.container.choise
  .row
    .col-sm-4.text-primary.choise__one
      %h3 choose date
    .col-sm-4.text-primary.choise__two
      %h3 choose theater
    .col-sm-4.text-primary.choise__one
      %h3 choose work
.container.result
  .col-sm-12
    result you want
    .row.result__row
      .col-sm-1
      .col-sm-5.text-primary
        .list-group
          .list-group-item.result__one
            one movie
          .list-group-item.result__one
            one movie
          .list-group-item.result__one
            one movie
          .list-group-item.result__one
            one movie
      .col-sm-5.text-primary
        .list-group
          .list-group-item.result__one
            one movie
          .list-group-item.result__one
            one movie
          .list-group-item.result__one
            one movie
      .col-sm-1

%footer
  about copylight
