.modal.fade#picture-modal{ "aria-hidden": true, "aria-labelledby": "picture-modal-label" }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{ "aria-label": "Close", "data-dismiss": "modal", type: "button" }
          %span{ "aria-hidden": true } ×
        %label Picture:
        %input{ type: 'text',id: 'theater-search' }
      .modal-body
        - @works.each do |work|
          .card
            -# .card__body{'v-on:click': "setWorkInfo(#{work.id})"}
            .card__body
              = simple_format(work)
      .modal-footer
        %button.btn.btn-secondary{ "data-dismiss": "modal", type: "button" } Close
        %button.btn.btn-primary{ type: "button" } Search

-# = javascript_pack_tag 'works/index'
