header{
  height: calc(40px * 2);
  background-color: rgb(221, 130, 106);
  // position: fixed;
  margin-bottom: 0px;
  font-size: 54px;
  padding-left: 15px
}

body{
  background-color: rgb(205, 125, 173);
}

.choise{
  height: calc(60px * 2);
  // position: absolute;
  background-color: rgba(29, 60, 108, 0);
  &__one{
    background-color: rgb(217, 130, 142);
    height: calc(60px * 2);
    // height: auto;
    font-size: 36px;
  }
  &__two{
    background-color: rgb(214, 71, 90);
    height: calc(60px * 2);
    // height: auto;
    font-size: 36px;
  }
}

.result{
  height: 100vh;
  background-color: rgb(217, 156, 164);
  padding-top: 100px;
  position: relative;
  overflow: auto;
  &__row{
    margin: auto;
  }
  &__one{
    height: 100px;
    // background-color: rgb(224, 137, 73);
    margin-bottom: 5px;

  }

}

footer{
  background-color: green;
  margin-bottom: 0px;
  font-size: 20px;
  position: relative;
}
